<section class="content">
    <div class="error-page">
        <form action="/usersn" method="POST"></form>
        <h2 class="headline" style="color:green;"> <i class="bi bi-check-circle"></i></h2>
        <div class="error-content">
            <h3><strong>Your Email Has Been Verified.</strong></h3>
            <p>
                Welcome <strong>{{email}}</strong> to join with us.
            </p>
        </div>
    </div>
</section>