{{!-- <section class="content">
    <div class="error-page">
        <h2 class="headline" style="color:green;"> <i class="bi bi-check-circle"></i></h2>
        <div class="error-content">
            <h3><strong>Successfully Order.</strong></h3>
            <a href="/"><p>Thank you for shopping with us. Click here to go to <strong>Homepage</strong>.</p></a> 
        </div>
    </div>
</section> --}}

   <div class="row" style="top: -44px;">
      <div class="col-md-6 mx-auto mt-5">
         <div class="payment elevation-3">
            <div class="payment_header">
               <div class="check-pay"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="content-payment">
               <h1>Successfully Order !</h1>
               <p>Thank you for shopping with us. </p>
               <a href="/">Go to Home</a>
            </div>
            
         </div>
      </div>
   </div>